# Ignore Database
nagardrishti.db

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore user uploads
static/uploads/
var/uploads/

# Ignore Environment secrets (if we had them)
.env

Nagardrishti_Master_Plan.txt

android-app/.gradle/
android-app/app/build/
android-app/local.properties
android-app/.idea/